
# Ignore binaries and large files
*.pkl
*.csv
*.h5
data/Smartmeter data of London Households/
*.pyc
*.png
**/outputs/
.env
**/dist/*
**/loadforecasting_models.egg-info/*
envs/condaenv*
**/loadforecasting_framework.egg-info/*
